body {
    font-family: 'Poppins', sans-serif;
}
section {
    background-color: white;
}
.hero {
    height: 100vh;
    background-color: black;
    font-size: 20px;
    color: white;
}
.hero-text-area {
    display: flex;
    height:100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}
footer {    
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    padding-top: 15px;
    padding-right: 50px;
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-around;
    font-size: 12px;
}
li {
    
    text-decoration: none;
}
h1 {
    font-size: 50px;
    margin: 0;
}
h2 {
    font-size: 30px;
    text-align: center;
}
p {
    margin: 0;
    font-weight: 200px;
    font-size: 15px;
    padding-bottom: 10px;
}
.sub-text {
    font-size: 13px;
    font-weight: 300px;
    padding: 10px;
}
.sub-text1 {
    font-style:italic;
    font-size: 13px;
    font-weight: 300px;
}
.button {
    width: 100px;
    height: 30px;
    background-color: coral;
    border-radius: 40px;
    text-align: center;
    font-size:20px;
}
.button:hover{
    background-color: #ef744b;
}
.button:active{
    background-color: darkgoldenrod;
    color: #808088;
}
.socials{
    padding-bottom: 200px;
    padding-right: 50px;
}
.social {
    margin: 20px;
    width: 20px;
}
.logo{
    height: 100px;
    margin: 0;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot {
    width: 200px;
    border-radius: 150px;
    margin-top: 60px;
}
.headshot-container {
    display: flex;
    align-items: center;
}
.project-card {
    width: 300px;
    height: 380px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}
.project-container {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
.portfolio-images {
    margin-top: 25px;
    width: 200px;
    border-radius: 20px;

}
hr {
    margin-right: 20px;
    margin-left: 20px;
}
.portfolio-link {
    text-decoration: none;
    color: coral;
}
a {
    text-decoration: none;
    color: white;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: coral;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ff9a02;
}
.hamburger {
    display:none;
}
.hamburger:focus {
    outline: 0;
}
@media only screen and (max-width: 1000px) {
    .hamburger{
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin:20px;
    align-self: flex-end;
    }
   ul {
       display: none;
       background-color: black;
       margin: 0px;
   }
   ul.show {
    display: block;
}
   nav {
      display: flex;
      flex-direction: column-reverse;
      background-color: black;
   }
   .logo {
       display: none;
   }
}